.ExtraSection
{
    background-color: var(--inverseReadableColor);
}
.extra-content
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    padding: 4em;
}

@media screen and ((max-device-width: 768px)) and (-webkit-device-pixel-ratio: 3),
screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {

    .extra-content
{

    grid-template-columns: repeat(1,1fr);
    padding: 1em;
}

}
  