@font-face {
  font-family: Octarine;
  src: url("../../Fonts/OctarineFree/Octarine-Light.otf");
}

@font-face {
  font-family: OctarineBold;
  src: url("../../Fonts/OctarineFree/Octarine-Bold.otf");
}

.main-story-container {
  background-color: #212121;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 50px 0;
}

.main-story-article {
  margin: auto;
  display: flex;
  justify-content: center;
}

.main-story-article div {
  margin: 1.5em;
}

.main-story-content {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.main-story-video-div {
  width: 40%;
  display: flex;
}
.main-story-description {
  color: white;
  width: 70%;
  font-weight: 100;
  line-height: 22px;
}

.main-story-title {
  padding: 0 0 30px 0;
  color: white;
}

.main-video {
  width: 100%;
}
